/pyscripts/cropwhite/to_crop/*.png
/pyscripts/cropwhite/to_crop_cropped/*.png
~$*
/prom
__pycache__
/public/components/**/*.*
/public/components/**/md5
!/public/components/*/*/*/*.zip
!/public/components/*/*/*/*.png
!/public/components/*/*/*/*.ifc

/dist/**