/*Стили панели Фильтры*/

.filters {
    width: 300px;
    background-color: rgb(16, 18, 20);
    margin: 2rem 4rem 0;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid rgb(148, 160, 171);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    line-height: 0.8;
    color: rgb(148, 160, 171)   ;
}

.filters input[type="checkbox"] {
    background-color: rgb(30, 33, 36);
}

.filters input[type="checkbox"]:checked {
    background-color: rgb(0, 172, 226);
}

/* Категории "Воздухораспределители", "Оборудование" и тд */
.filter-category {
    margin-top: 0.25rem;
}

/* Подкатегории "Диффузор", "Решетка" и тд */
.filter-subcategory {
    margin-left: 1.5rem;
}

/* Заголовки "Категория сайта", "Производитель" и тд */
.filter-category h3 {
    margin-top: 1.4rem;
    margin-bottom: 0.5rem;
}

/* Названия справа от чекбоксов */
.filter-options label {
    margin-left: 0.5rem;
    cursor: pointer;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -0.5rem;
    color: white;
}


#resetFilters {
    padding: 0.5rem 1rem;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 0.3rem;
    margin-right: 1.3rem;
    font-size: 0.9rem;
}

#resetFilters:hover {
    background-color: #d32f2f;
}

.filter-divider {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
    margin-right: 15%;
}

.filter-toggle {
    display: none;
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1001; /* Увеличиваем z-index, чтобы кнопка была поверх фильтров */
    background-color: rgba(128, 128, 128, 0.8); /* Серый фон с небольшой прозрачностью */
    color: white;
    border: none;
    border-radius: 50px; /* Закругленные края */
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-toggle:hover {
    background-color: rgba(100, 100, 100, 0.9);
}
