/* Глобальные стили */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

body {
    font-size: 85%;
    display: flex;
    flex-direction: column;
}

header {
    background-color : rgb(29, 38, 46);
    color: rgb(148, 160, 171);
    text-align: center;
    padding: 1rem;
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
}

.sort-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.sort-options label {
    margin-right: 0.5rem;
}

#sortSelect {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid;
    background-color: white;
    border-color: rgb(222, 227, 230);
}

.download-selected-button {
    width: auto;
    padding: 0 35px;
    height: 30px;
    border-radius: 5px;
    margin-left: 1rem;
    border: 1px solid;
    border-color: rgb(222, 227, 230);
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    background-color: white;
}

.download-selected-button:hover {
    color: rgb(0, 172, 226); 
    background-color: white;
}

.download-selected-button:hover::after {
    content: "Скачать выбранные компоненты";
    position: absolute;
    bottom: 100%;
    right: 0;
    transform: translateY(-5px);
    color: black;
    border: 1px solid rgb(222, 227, 230);
    background-color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 99999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#memoryUsage {
    color: #ffffff;
}

.info-button {
    position: fixed;
    margin-right: 4rem;
    margin-top: 0.3rem;
    right: 1rem;
    top: 20px;
    width: 50px;
    height: 50px;
    border: rgb(222, 227, 230);
    border-radius: 50%;
    background: transparent;
    border: none;
    font-size: 20px;
    color: rgb(148, 160, 171);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 0.3s ease;
    font-family: 'Arial', sans-serif;
    font-style: bold;
    border-color: rgba(59,130,246,.5);
    font-weight: 900;
}

.info-button:hover {
    color: rgb(0, 172, 226);    
}

.dark-button {
    position: fixed;
    margin-right: 4rem;
    margin-top: 0.3rem;
    right: 1rem;
    top: 42px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    border: none;
    font-size: 35px;
    color: rgb(148, 160, 171);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 0.3s ease;
    font-family: 'Arial', sans-serif;
    font-weight: 900;   
}

.dark-button:hover {
    color: rgb(0, 172, 226);
}

.info-modal {

    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 2.5rem;
    border-radius: 5px;
    width: 600px;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    line-height: 1.4;
    overflow-y: auto;
    z-index: 1001;
    text-align: center;
}

.info-modal.content-wrapper {
    flex-direction: column;
}

.info-modal a {
    color: inherit;
}

.image-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-modal-image {
    height: 100px;
    margin-right: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.info-modal-text {
    flex: 1;
}

