/*Стили панели Фильтры*/

.filters {
    width: 300px;
    background-color: white;
    margin: 2rem 4rem 0;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 7px;
    border: 1px solid rgb(222, 227, 230);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    line-height: 0.8;
    color: rgb(0, 0, 0)   ;
}

.filters:hover {

    border-color: rgb(182, 185, 187)

}

.filters {
    padding: 20px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid rgb(222, 227, 230);
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    background-color: #fff;

}

.filter-section {
    overflow-y: auto; /* Add vertical scrollbar to the content */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #c6c6c6 #f1f1f1; /* For Firefox */
    border-radius: 7px;
}

/* Scrollbar styles for WebKit browsers (Chrome, Safari, etc.) */
.filter-section::-webkit-scrollbar {
    width: 0;
    transition: width 0.3s ease;
}

.filter-section::-webkit-scrollbar-track {
    background: #f1f1f1;

}

.filter-section::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;
}

.filter-section::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Категории "Воздухораспределители", "Оборудование" и тд */
.filter-category {
    margin-top: 0.25rem;
}

/* Подкатегории "Диффузор", "Решетка" и тд */
.filter-subcategory {
    margin-left: 1.5rem;
}

/* Заголовки "Категория сайта", "Производитель" и тд */
.filter-category h3 {
    margin-top: 1.4rem;
    margin-bottom: 0.5rem;
}

/* Названия справа от чекбоксов */
.filter-options label {
    margin-left: 0.5rem;
    cursor: pointer;
}

.filter-header {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -0.5rem;
}

.content-wrapper {
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
    border-radius: 7px;
    background-color: #fff;
    overflow: hidden;
}

#resetFilters {
    padding: 0.5rem 1rem;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 0.3rem;
    margin-right: 1.3rem;
    font-size: 0.9rem;
}

#resetFilters:hover {
    background-color: #d32f2f;
}

.filter-divider {
    border: 0;
    height: 0.5px;
    background-color: #ccc;
    margin: 10px 0;
    margin-right: 15%;
}

.filter-toggle {
    display: none;
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1001; /* Увеличиваем z-index, чтобы кнопка была поверх фильтров */
    background-color: rgba(128, 128, 128, 0.8); /* Серый фон с небольшой прозрачностью */
    color: white;
    border: none;
    border-radius: 50px; /* Закругленные края */
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-toggle:hover {
    background-color: rgba(100, 100, 100, 0.9);
}

.filter-textsearch {
    margin-top: 15px;
    margin-bottom: -8px;

}

.filter-textsearch input {
    width: 60%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.filter-textsearch input:hover {
    border-color: #888;
}